body
{
    /* background-color: Khak; */
    font-family: Sans-serif;
    /*background-color: Chocolate;*/
    background-image: url(../images/terre-battue.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 10px 10px;
    padding: 0;
}


h1
{
    font-family: sans-serif;
    color: white;
    /* text-shadow: 1px 0 0 white, 0 1px 0 white, 0 -1px 0 white, -1px 0 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white; */
}

h2
{
    /* color: green; */
    color: #275D0A;
}


/*.tournoi*/
h6
{
    font-family: sans-serif;
    font-style: italic;
    color: white;
    text-align: center;
    font-size: 60px;
    /* border: 8px solid green; */
    border-width: 8px;
    border-style: solid;
    border-color: #275D0A;
    /* border-radius: 60px; */
    /*background-color: Chocolate;*/
    background-image:url(../images/TERRE_BATTUE2894.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
    padding-top:30px;
    padding-bottom:30px;
}

menu
{
    background-color: orange;
}

.warning
{
color: red;
font-size: 20px;
}

.congrats
{
color: black;
font-size: 20px;
}

.language_choice
{
  color: white;
  text-align: right;
  float: right;
}

.localClock
{
  color: white;
  text-align: right;
  float: right;
}

.clock2
{
  color: white;
}

.Hello
{
  color: white;
}

.info
{
color: #275D0A;
font-weight: bold;
}

table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}

td, th
{
    border: 1px solid black;
    background-color: DarkOrange;
}

tr:hover
{
    opacity: 0.9;
    /* background-color: Orange; */
    /* border: 1px solid black; */
}

th
{
    background-color: Green;
    /* background-color: #275D0A; */
    /* color: white; */
}

.lignecoloree td {
   background-color: Gold;
}

.lignenormale td {
   background-color: DarkOrange;
}

.lignenormale2 td {
   background-color: Orange;
   color: black;
}

#conteneur
{
    /*display: float;*/
    /*display: flex;*/
    display: flex;
    /*display: inline;*/
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: Peru;
    /*background-image:url(images/terre-battue.jpg);*/
    opacity: 0.9;
}

.element
{
    /*margin: auto; */
    background-color: LawnGreen;
    /*background-image:url(images/terre-battue-bis.jpg);*/
    position: relative;
}

.element_corps
{
    /*margin: auto; */
    width: 70%;
    background-color: SandyBrown;
    /* background-color: #F19B2D; */
    /* background-color: #DF550B; */
    margin: 10px 10px;
    padding-left:10px;
    padding-right:10px;
    padding-top:2px;
    padding-bottom:2px;
    position: relative;
    /*background-image:ur
    /*background-image:url(images/terre-battue-bis.jpg);*/
}

.element_menu
{
    /*margin: auto; */
    color: white;
    font-family: sans-serif;
    background-color: #DF550B;
    margin: 10px 10px;
    padding-left: -10px;
    padding-right:10px;
    padding-top:2px;
    padding-bottom:2px;
    position: sticky;
    top: 10px;
    /*background-image:url(images/terre-battue-bis.jpg);*/
}

.a_menu
{
    color: white;
    font-family: sans-serif;
    /* background-color: LightBlue; */
    list-style-type: none;
}

nav ul
{
    list-style-type: none;
    display:flex;
    flex-direction: column;
}

/* On sélectionne tous les labels */
label
{
    display:block;
    width:300px; /* Attention : prenez une largeur suffisamment grande */
    float:left;
}

/* On sélectionne tout les labels contenu dans le formulaire avec l'id : id_form */
#registration_form label
{
    display:block;
    width:220px;
    float:left;
}

#connection_form label
{
    display:block;
    width:150px;
    float:left;
}

#resetPassword_form label
{
    display:block;
    width:200px;
    float:left;
}

.clignote  {
  animation: clignoter 1s infinite;
   /* animation-duration: .8s;
   animation-name: clignoter;
   animation-iteration-count: infinite;
   transition: none; */
}

@keyframes clignoter {
  0%   { opacity:1; }
  50%   {opacity:0; }
  100% { opacity:1; }
}


.button
{
  /** Ces directives indiquent au lien de ressembler à un bouton pour les principaux moteurs de rendu **/
 -webkit-appearance: button;
 -moz-appearance: button;
 appearance: button;
 /**Les directives en dessous enlèvent l'apparence par défaut en bleu et avec du texte souligné pour un lien hypertexte **/
 text-decoration: none;
 color: initial;
}

.a_text{
text-decoration:underline;
color:DarkBlue;
font-style: italic;
}

.div_localTime{
  width:400px;
  height:50px;
  background:grey;
  color:white;
  text-align:center;
  line-height:50px;
}
