body
{
/*    background-color: MediumAquaMarine; */
    background-color: Gainsboro;
    margin: 10px 10px;
    padding: 0 ;
    font-family: Segoe UI Semibold;
    /* background-image:url(../images/usopen_ArthurAShe_court.jpg); */
    /* opa-city: 0.7; */
    background-position: center;
    background-repeat: no-repeat;
    width: 99%;
    height: 99%;
}


h1
{
    color: Red;
/*
    text-shadow: 1px 0 0 white, 0 1px 0 white, 0 -1px 0 white, -1px 0 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white;
*/
    text-shadow: rgb(255, 255, 255) 1px 0px 0px, rgb(255, 255, 255) 0.540302px 0.841471px 0px, rgb(255, 255, 255) -0.416147px 0.909297px 0px, rgb(255, 255, 255) -0.989992px 0.14112px 0px, rgb(255, 255, 255) -0.653644px -0.756802px 0px, rgb(255, 255, 255) 0.283662px -0.958924px 0px, rgb(255, 255, 255) 0.96017px -0.279415px 0px;
}

h2
{
    color: DarkBlue;
}

h4
{
    color: black;
    text-decoration: underline;

}

/*.tournoi*/
h6
{
    //font-family: Segoe UI Semibold;
    font-style: italic;
    color: white;
    text-align: center;
    font-size: 80px;
    border: 5px solid Red;
    background-image:url(../images/usopen_logo_blue_BallOnly.jpg);
    /*background-position: center;*/
    background-position: 50% 55%;
    background-repeat: repeat;
    margin: 0px;
    padding-top:30px;
    padding-bottom:30px;
}

menu
{
    background-color: SteelBlue;
}

.warning
{
color: red;
font-size: 20px;
}

.congrats
{
color: black;
font-size: 20px;
}

.language_choice
{
  color: black;
  text-align: right;
  float: right;
}

.localClock
{
  text-align: right;
  float: right;
}

.clock2
{
  color: black;
}

.info
{
color: black;
}


/* Part for tooltip in tournament predictions --- start */
.tooltip {
  position:relative; /* making the .tooltip span a container for the tooltip text */
  border-bottom:1px dashed #000; /* little indicater to indicate it's hoverable */
}

.tooltip:before {
  content: attr(info-text); /* here's the magic */
  position:absolute;

  /* vertically center */
  top:50%;
  transform:translateY(-50%);

  /* move to right */
  left:100%;
  margin-left:15px; /* and add a small left margin */

  /* basic styles */
  width:500px;
  padding:10px;
  border-radius:10px;
  background:#000;
  color: #fff;
  text-align:left;
  white-space: pre-line;

  display:none; /* hide by default */
}

.tooltip:hover:before {
  display:block;
}
/* Part for tooltip in tournament predictions --- end */


table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}

td, th
{
    border: 1px solid black;
    background-color: DarkCyan;
    color: black;
}

tr:hover
{
    opacity: 0.9;
    /* background-color: Orange; */
    /* border: 1px solid black; */
}

th
{
    background-color: DarkBlue;
    color: White;
}

.lignecoloree td {
   background-color: Gold;
   color: black;
}

.lignenormale td {
   background-color: DarkCyan;
   color: black;
}

#conteneur
{
    /*display: float;*/
    display: flex;
    /*display: inline;*/
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: RoyalBlue;
    /* background-image:url(../images/usopen_ArthurAShe_court.jpg);
    opacity: 0.7; */
}

.element
{
    /*margin: auto; */
    background-color: SteelBlue;
    /*background-image:url(images/terre-battue-bis.jpg);*/
}

.element_corps
{
    /*margin: auto; */
    background-color: SteelBlue;
    margin: 10px 10px;
    padding-left:10px;
    padding-right:10px;
    padding-top:2px;
    padding-bottom:2px;
    color: White;
    /*background-image:ur
    /*background-image:url(images/terre-battue-bis.jpg);*/
}

.element_menu
{
    /*margin: auto; */
    background-color: Blue;
    margin: 10px 10px;
    padding-left:10px;
    padding-right:10px;
    padding-top:2px;
    padding-bottom:2px;
    color: White;
    position: sticky;
    top: 10px;
    /*background-image:url(images/terre-battue-bis.jpg);*/
}

.a_menu
{
    color: white;
    /* font-family: sans-serif; */
    /* background-color: LightBlue; */
    text-decoration:none;
}

nav ul
{
    list-style-type: none;
    /* list-style-type: disc; */
    display:flex;
    flex-direction: column;
    /* list-style-position: inside; */
    /* list-style-image: url(../images/balleDeTennis.jpg); */
}


/* On sélectionne tous les labels */
label
{
    display:block;
    width:200px; /* Attention : prenez une largeur suffisamment grande */
    float:left;
}

/* On sélectionne tout les labels contenu dans le formulaire avec l'id : id_form */
#registration_form label
{
    display:block;
    width:250px;
    float:left;
}

#connection_form label
{
    display:block;
    width:150px;
    float:left;
}

.button
{
  /** Ces directives indiquent au lien de ressembler à un bouton pour les principaux moteurs de rendu **/
 /* -webkit-appearance: button; */
 -moz-appearance: button;
 /* appearance: button; */
 /**Les directives en dessous enlèvent l'apparence par défaut en bleu et avec du texte souligné pour un lien hypertexte **/
 text-decoration: none;
 color: white;

}

.a_text{
text-decoration:underline;
color:DarkBlue;
font-style: italic;
font-style: italic;
}

.div_localTime{
  width:400px;
  height:50px;
  background:grey;
  color:white;
  text-align:center;
  line-height:50px;
}
